@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --background-color: hsl(212, 23%, 69%);
  --button-color-inactive:  hsl(210, 46%, 95%);
  --button-color-active: hsl(212, 23%, 69%);
  --active-font-color: hsl(214, 17%, 51%);
  --active-bg-color: hsl(217, 19%, 35%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--button-color-inactive);
  display: flex;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
}

img {
  display: block;
  width: 100%;
}

p {
  color: #6E8098;
}

button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

h1, h2 {
  color: var(--active-bg-color);
}

.article__card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  position: relative;

  img {
    border-radius: 0.7rem 0.7rem 0 0;
    height: 200px;
    object-fit: cover;
  }

  .article__heading {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.2px;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  .article__description {
    font-size: 13px;
    letter-spacing: .12px;
    font-weight: 500;
    line-height: 1.54;
    margin-bottom: 2rem;
  }
}

.link__share-desktop {
  display: none;
}

.main__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.3rem;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .info {

      .author__name {
        font-size: 13px;
      }

      .article__publication {
        font-size: 13px;
        color: var(--button-color-active);
      }
    }
  }

  .article__author {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .container {
    padding: 2rem 2rem 0 2rem;
  }

  .link__share {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: var(--active-bg-color);
    top: 86%;
    left: 0;
    width: 100%;
    height: 69px;
    align-items: center;
    border-radius: 0 0 11px 11px;
    padding: 1rem 2rem;
    z-index: -1;
    transition: all .4s ease-in;

    .link__share-left {
      display: flex;
      gap: 1rem;
    }

    p {
      font-size: 13px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: var(--button-color-active);
    }

    img {
      width: 20px;
      height: 20px;
      border-radius: 0;
      margin-right: 0.2rem;
    }
  }

  @media (min-width: 1080px) {
    .container {
      padding: 1.5rem 3rem;
    }
    .article__card {
      flex-direction: row;
      width: 800px;

      .article__heading {
        font-size: 20px;
        margin-bottom: 0.7rem;
      }

      .article__description {
        margin-bottom: 1.5rem;
      }

      img {
        border-radius: 0.7rem 0 0 0.7rem;
        height: 280px;
      }
    }
    .link__share {
      display: none;
    }
    .main__footer {
      padding: 0;
      position: relative;
      
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .link__share-desktop {
        position: absolute;
        display: flex;
        background-color: var(--active-bg-color);
        padding: 1.2rem 2.33rem;
        align-items: center;
        gap: 1rem;
        border-radius: 10px;
        top: -202%;
        left: 63%;
        z-index: 1;

        .link__share-left {
          display: flex;
          gap: 1rem;
          align-items: center;
        }

        p {
          font-size: 13px;
          letter-spacing: 5px;
          text-transform: uppercase;
          color: var(--button-color-active);
        }

        img {
          width: 20px;
          height: 20px;
          border-radius: 0;
        }
      }

      .link__share-desktop::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 46%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 12px solid var(--active-bg-color);
      }
    }
  }