@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --background-color: hsl(212, 23%, 69%);
  --button-color-inactive:  hsl(210, 46%, 95%);
  --button-color-active: hsl(212, 23%, 69%);
  --active-font-color: hsl(214, 17%, 51%);
  --active-bg-color: hsl(217, 19%, 35%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--button-color-inactive);
  display: flex;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

h1, h2 {
  color: var(--active-bg-color);
}

.article__card {
  display: flex;
  flex-direction: column;
  width: 20.44rem;
  border-radius: 10px;
  background-color: #fff;

  img {
    border-radius: 0.7rem 0.7rem 0 0;
    height: 200px;
    object-fit: cover;
  }

  .article__heading {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.2px;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  .article__description {
    font-size: 13px;
    letter-spacing: .12px;
    font-weight: 500;
    line-height: 1.54;
    color: var(--active-bg-color);
    margin-bottom: 1rem;
  }
}

.main__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 2rem 1rem 2rem;
  transition: all .4s ease-in;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .info {

      .author__name {
        font-size: 13px;
      }

      .article__publication {
        font-size: 13px;
        color: var(--button-color-active);
      }
    }
  }

  .article__author {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .container {
    padding: 2rem 2rem 0 2rem;
  }

  .link__share {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: var(--active-bg-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    border-radius: 0 0 11px 11px;
    padding: 1rem 2rem 1rem 2rem;
    z-index: -1;
    transition: all .4s ease-in;

    .link__share-left {
      display: flex;
      gap: 1.1rem;
    }

    p {
      font-size: 13px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: var(--button-color-active);
    }

    img {
      width: 20px;
      height: 20px;
      border-radius: 0;
    }
  }